@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

/* reset */
*{margin: 0; padding: 0; }
li{list-style: none;}
a{text-decoration: none; color: inherit; display: block;}
img{display: block; border: 0;}

body{
    background: #f1e9d8;
    overflow-y: hidden;
}
/* header */
header{width: 100%; font-family: 'Italiana', serif;}
#head{
    width: 100%; padding: 3em; box-sizing: border-box;
    margin: 0 auto;
    display: flex;
}
.logo h3{
    font-size: 3em; font-weight: lighter; 
}
.title h4{
    font-size: 1.5em; font-weight: lighter;
    padding: 1em 1em 1em 3em;
}

/* container */
.container{padding: 0 3em;}
.txtBox{
    width: 55%; height: 380px;
    background: #9ba6a8;
    color: #333;
    padding: 1.5em; box-sizing: border-box;
}
.txtTitle{
    font-family: 'Italiana', serif;
    padding: 20px 0;
}
.txtTitle h3{font-weight: lighter; font-size: 1.5em;}
.txtmain, .txtbtn{font-family: 'Noto Sans KR', sans-serif;}
.txtmain{padding: 20px 140px 20px 0; box-sizing: border-box;}
.txtmain p{
    line-height: 30px;
}
.txtbtn{width: 25%; border: #333 2px solid;}
.txtbtn a p{text-align: center; font-weight: bold; line-height: 40px;}
.imgBox{
    width: 50%; height: 380px;
    background: url('../img/imgbox.png');
    background-repeat : no-repeat;
    background-size : cover;
    position: absolute;
    top: 40%; right: 3em;
}
.logoImg{
    width: 300px; height: 200px;
    background: url('../img/logo.png');
    background-repeat : no-repeat;
    background-size : cover;
    position: absolute;
    top: 400px; left: 450px; 
    z-index: 9;
}